@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #dc392d;
    --secondary: #69707a;
    --blue: #1e30f3;
    --muted: #6c757d;
}

.text-gradient {
    background: -webkit-linear-gradient(315deg, var(--blue) 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {

}